@{
    ViewBag.Title = "About";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<p>Use this area to provide additional information.</p>
<head></head>
<body>
    <table class="table table-responsive table-bordered table-hover table-condensed">
        <thead>这是眉头</thead>
        <tr>
         <th>测试使用th标签</th>
        <th>测试使用th标签</th>
        <th>测试使用th标签</th>
        <th>测试使用th标签</th>
        <th>测试使用th标签</th>
        </tr>
        
        <tr>
            <td>1</td>
            <td>2</td>
            <td>3</td>
            <td>4</td>
            <td>5</td>
            <td>5</td>
            <td>5</td>
        </tr>



        

    </table>


</body>