
@{
    ViewBag.Title = "TestwebView";
}

<h2>TestwebView</h2>
<head>

</head>

<body>
    <div>
        <p>这是个简单的mvc段落数据</p>
    </div>
    <table class="table table-responsive table-bordered table-hover table-condensed">
        <th>测试使用th标签</th>
        <th>测试使用th标签</th>
        <th>测试使用th标签</th>
        <th>测试使用th标签</th>
        <th>测试使用th标签</th>
    </table>

</body>
